*{
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
}
.welcome{
    background-image: linear-gradient(90deg,blue, cyan);
    color: #ffffff;
}
.navbar{
    border-top: 7px solid;
    border-image: linear-gradient(90deg,orange,green);
    border-image-slice: 1;
}
.navbar ul{
    list-style-type: none;
    background-image: linear-gradient(90deg,cyan, blue);
    overflow: hidden;
    margin: 0 auto;
}

.navbar ul li{
    text-decoration: none;
    float: left;
    padding: 10px;

    width: 100px;
    text-align: center;
}

.navbar ul li:hover{
    background-color: #05d6cc;
    cursor: pointer;
}

.navbar ul li a{
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    color: white;
}


.frist_section{
    height: 800px;
    border-bottom: 2px solid;
    border-image: linear-gradient(90deg,cyan, blue);
    border-image-slice: 1;
}
.last_section{
    height: 500px;
    border-bottom: 2px solid;
    border-image: linear-gradient(90deg,cyan, blue);
    border-image-slice: 1;
}
.color_orange{
    color: orange;
}

.first-half{
    width: 39%;
    float: left;
    margin: 3%;
    padding: 2%;
}
.first-half p{
    text-align: justify;
}

.first-half img{
    width: 70%;
}
.btn{
    text-decoration: none;
    background-image: linear-gradient(90deg,blue,cyan);
    padding: 10px 30px;
    border-radius: 5px;
    color: white;
    font-size: 15px;
}
.exp-part{
    background-image: linear-gradient(90deg,blue,cyan);
    color: white;
    text-align: center;
}
.experience{
    box-shadow: 10px 20px 40px gray;
    border-radius: 5px;
    height: 30%;
}
#full-stack{
    border-left: 3px solid;
    border-image: linear-gradient(180deg,blue,cyan);
    border-image-slice: 1;
}
#baby-web{
    border-left:3px solid;
    border-image: linear-gradient(180deg,cyan,blue);
    border-image-slice: 1;
}
 footer p{
    text-align: center;
 }